# macOS system files
.DS_Store
._*

# Pipeline run outputs and work directories
results/
smoke-out/
smoke/

# Slurm logs
slurm/logs/
*.out
*.err

# Nextflow runtime files and execution cache
work/
.nextflow/
.nextflow.log*
results/
nf-head-*.out

# Large sequencing, alignment, and intermediate files
*.bam
*.bai
*.fastq.gz
*.fq.gz
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.fai
*.dict
*.vcf.gz
*.vcf.gz.tbi
*.g.vcf.gz
*.g.vcf.gz.tbi

# Whitelist 
!smoke.fa
!smoke.fa.fai
!smoke.dict
!smoke-run/cohort.filtered.vcf.gz
!cluster-run/cohort.filtered.vcf.gz
!cluster-run-nf/cohort.filtered.vcf.gz
!cluster-run-nf/cohort.filtered.vcf.gz.tbi
!cluster-run-container/cohort.filtered.vcf.gz
!cluster-run-container/cohort.filtered.vcf.gz.tbi

